<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm and Data Structure</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/index-page.css}">
    <link rel="stylesheet" th:href="@{/css/icons.css}">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a href="#" class="navbar-brand">Algorithm and Data Structure Project</a>
    </nav>

    <div class="container my-5 justify-content-center">
        <h3 class="text-center my-3">Menu</h3>
        <div class="row option text-center">
            <div class="col-md-4"><a th:href="@{/queue}">
                Queue
            </a></div>
        </div>
        <div class="row option text-center my-2">
            <div class="col-md-4"><a th:href="@{/stack}">
                Stack
            </a></div>
        </div>
        <div class="row option text-center my-2">
            <div class="col-md-4"><a th:href="@{/tree}">
                Binaries Trees
            </a></div>
        </div>
        <div class="row option text-center my-2">
            <div class="col-md-4"><a th:href="@{/graph}">
                Graph
            </a></div>
        </div>
    </div>

    <!-- jQuery  -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>

</body>

</html>