<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/icons.css}">
    <link rel="stylesheet" th:href="@{/css/stack.css}">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a th:href="@{/}" class="navbar-brand">Data Structure : Stack</a>
    </nav>

    <div class="container my-5 justify-content-center">
        <div class="row option text-center">
            <div class="col-md-3 mr-3" data-toggle="modal" data-target=".bs-modal-add">
                <span class="fa fa-plus mr-2"></span>Add product
            </div>
            <div class="col-md-3" id="remove">
                <span class="fa fa-trash mr-2"></span>Remove
            </div>
        </div>
        <h3 class="text-center my-3">Calculate cart's weight</h3>
        <div class="row container">
            <div class="col-md-7">
                <div class="content text-center">
                </div>
            </div>
            <div class="col-md-4 offset-1">
                <h4>Weight (in Kg)</h4>
                <p style="color: salmon;">Promotion: 1Kg -> 350 KZ</p>
                <p>Buy:</p>
                <span style="font-size: 32px;font-weight: 700;" id="total"></span>
                <p>Pay:</p>
                <span style="font-size: 62px;font-weight: 700;" id="price"></span>
            </div>
        </div>

        <div class="modal fade bs-modal-add" tabindex="-1" role="dialog" aria-labelledby="myAddModal"
            aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myAddModal">Insert Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" id="form-add">
                            <div class="form-group my-2">
                                <input type="text" name="product" id="form-add-product" class="form-control" required
                                    placeholder="Product">
                            </div>
                            <div class="form-group my-2">
                                <input type="number" name="weight" id="form-add-weight" class="form-control" required
                                    placeholder="Weight">
                            </div>
                            <button type="submit" class="btn btn-add"> <span
                                    class="fa fa-save mr-2"></span>Add</button>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <!-- jQuery  -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>

    <!-- App js -->
    <script th:src="@{/js/stack.js}"></script>
</body>

</html>